{% extends "_html5.html" %}

{% comment %}
  Template inheritance: _html5.html > base.html > all_other_templates
  
  This abstraction is used to need only minimal modifications to the 
  html5-boilerplate index.html (adding blocks head, header, scripts, main, 
  footer).
    
  Define all site-specific templates in here, all templates extend 'base.html'.
{% endcomment %}

{% block header %}
    Add common header here in base.html
{% endblock %}

{% block footer %}
    Add common footer here in base.html
{% endblock %}